{% load static %}


<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Netflix</title>
        <link rel="icon" type="image/x-icon" href="{% static 'assets/netflix_title_icon.png' %}">
        <link rel="stylesheet" href="{% static 'assets/logout.css' %}">
        <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    </head>
  <body>
    <div class="container">
      <div class="header">
        <img src="{% static 'assets/netflix.png' %}" alt="Netflix Logo">
      </div>
      <div class="content">
        <h1>Sign Out</h1>
        <p>Are you sure you want to sign out?</p>
        <form method="post" action="{% url 'netflixapp:Home' %}">
            <input type="hidden" name="csrfmiddlewaretoken" value="9RSTk6tTnS1pKnh6tilUHJSdsmFdHTa3Gvah5y38PhqeWWAGZ0HV0XPbzlyMwsLj">
            {% csrf_token %}
          <button type="submit">Sign Out</button>
        </form>
      </div>
    </div>
  </body>
</html>
